@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto';
    font-size: large;
    color: aliceblue;
    background-color: #222;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.1rem;
    color: rgba(255,190,0,.7);
    background-color: slategray;
    box-shadow: 0 9px 16px black;
}

footer {
    position: fixed;
    bottom: 0;
    left: calc(50vw - 168.9765px);
    color: orange;
    font-weight: bold;
    text-align: center;
}


.container {
    display: block;
    max-width: 900px;
    min-height: min-content;
    margin: 6% auto;
    padding: 2%;
    border: 2px solid silver;
    border-radius: 32px;
    background-color: #333;
    box-shadow: 0 0 10px white;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
    gap: 2rem;
    padding: .8rem;
    min-width: min-content;
}

.week {
    height: auto;
    min-width: 200px;
    background-color: #069;
    border: 2px solid #222;
    border-radius: 22px;
    text-align: center;
    padding: 2%;
    font-size: 2rem;

}

.week:hover {
    transition: 200ms, text-shadow 850ms;
    background-color:rgba(0, 102, 153, 0.504);
    color: #222;
}


.future:hover {
    cursor: not-allowed;
}

a {
    font-weight: bold;
    color: lightblue;
}

a:link {
    color: white;
    text-decoration: none;
}

a:active {
    color: orange;
}

.highlight {
    border: 2px solid orange;
    border-radius: 22px;
}

.highlight {
    color: orange;
}