@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Roboto';
    font-size: large;
    color: aliceblue;
    background-color: #222;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.1rem;
    color: rgba(255,190,0,.7);
    background-color: slategray;
    box-shadow: 0 9px 16px black;
}

footer {
    position: fixed;
    bottom: 0;
    left: calc(50vw - 168.9765px);
    color: orange;
    font-weight: bold;
    text-align: center;
}


.container {
    margin: 0 auto;
    position: relative;
    top: 150px;
    max-width: 900px;
    min-height: 50vh;
    border: 2px solid silver;
    flex-wrap: wrap;
    box-shadow: 0 0 10px white;
    border-radius: 32px;
    background-color: #333;
    padding-inline: 2%;
    font-size: larger;
    padding: 2%;
}

.week {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: #069;
    border: 1px solid #222;
    border-radius: 22px;
    text-align: center;
    margin: 3%;
    font-size: 3rem;
}

.week:hover {
    transition: 200ms, text-shadow 850ms;
    background-color:rgba(0, 102, 153, 0.707);
    color: #222;
    text-shadow: 0 0 6px orange;
}

a {
    font-weight: bold;
    color: lightblue;
}

a:link {
    color: lime;
    text-decoration: none;
}

a:active {
    color: aliceblue;
}



