@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: large;
    color: aliceblue;
    background-color: #222;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1.1rem;
    color: rgba(255,190,0,.7);
    background-color: slategray;
    justify-content: flex-start;
    box-shadow: 0 5px 16px black;
}

footer {
    position: absolute;
    bottom: 0;
    left: 500px;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    position: relative;
    top: 150px;
    max-width: 900px;
    min-height: 50vh;
    border: 2px solid silver;
    gap: .5rem;
    flex-wrap: wrap;
    box-shadow: 0 0 10px white;
    border-radius: 32px;
    background-color: #333;
    color: aliceblue;
    padding-inline: 2%;
    font-size: larger;
    line-height: 32px;
    padding: 2%;
}

p {
    text-indent: 2em;
}

div.container h2 {
    margin-top: 2%;
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: calc(50vw - 168.9765px);
    color: orange;
    font-weight: bold;
    text-align: center;
}